In [2]:
# Loading Libraries
library(dplyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [4]:
# Read the csv
data <- read.csv("D:/GRAD_SCHOOL/Spring2017/ADS/Assignments/A1/ClassData.csv")

In [5]:
# look at top 5 rows of data
names(data)

[1] "No"                               "GPA"
[3] "Years.of.work.experience"         "Latest.salary..per.year."
[5] "Highest.GPA"                      "Lowest.GPA"
[7] "Coops.Internships..YN."           "Number.of.contacts.on.Linkedin"
[9] "Expected.Salary.after.graduation"

In [6]:
######### 1. Min, Max, Median, Avg for GPA and YearofWorkExp ##########
summary(data$GPA)
summary(data$Years.of.work.experience)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  3.060   3.400   3.500   3.510   3.585   4.000

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  1.000   2.000   2.500   2.812   4.000   6.000

In [7]:
######### 2. Find the mode of the Salary ######### 
getmode = function(x){ 
  ta = table(x)
  ta.max = max(ta)
  if (all(ta == ta.max))
    mod = NA
  else
    if(is.numeric(x))
      mod = as.numeric(names(ta)[ta == ta.max])
  else
    mod = names(ta)[ta == tam]
  return(mod)
}
mode_salary <- getmode(data$Latest.salary..per.year.)
                       
cat("The mode of the salary is: ", mode_salary)

The mode of the salary is:  60000

In [8]:
########## 3. % of students having Co/op and not having Co/op ##########

#count Y in the data after changing to upper case
with.coop.count <- count(data[toupper(data$Coops.Internships..YN.) == "Y",])
#count total records
total.count <- count(data)
#calculate percentage
per_coop <- 100 * (with.coop.count/total.count)
cat("The percentage of students having coop is: ", per_coop[1,1], "\n")

#count N in the data after changing to upper case
without.coop.count <- count(data[toupper(data$Coops.Internships..YN.) == "N",])
#calculate percentage
per_no_coop <- 100 * (without.coop.count/total.count)
cat("The percentage of students having coop is: ", per_no_coop[1,1])

The percentage of students having coop is:  70.58824
The percentage of students having coop is:  29.41176

In [9]:
######### 4. No of students with more than 500 LinkedIn contacts #########
cnt_link <- count(data[data$Number.of.contacts.on.Linkedin > 500,])
cat("No of students with more than 500 LinkedIn contacts is: ", cnt_link$n)

No of students with more than 500 LinkedIn contacts is:  10

In [12]:
######### 5. Find the Inter Quartile Range for the Expected Salary Range #########
summary(data$Expected.Salary.after.graduation)
inter_q_r <- IQR(data$Expected.Salary.after.graduation)
cat("Inter Quartile Range for the Expected Salary Range is: ", inter_q_r)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  80000   90000  100000   98620  100000  140000

Inter Quartile Range for the Expected Salary Range is:  10000