In [94]:
import pandas as pd
import numpy as np

In [11]:
data = pd.read_csv("D:/GRAD_SCHOOL/Spring2017/ADS/Lab/ClassData.csv")

    No   GPA  Years of work experience  Latest salary (per year)  \
0    1  3.50                       2.5                     45000
1    3  3.80                       1.0                     65000
2    4  3.80                       2.0                     85000
3    5  3.41                       1.5                     10000
4    6  3.33                       5.0                     70000
5    7  3.52                       2.5                     27000
6    8  3.50                       2.0                     40000
7    9  3.50                       5.0                     75000
8   10  3.60                       2.5                     65000
9   11  3.20                       4.0                     62000
10  12  3.50                       2.0                     60000
11  13  3.67                       1.8                     60000
12  14  3.50                       2.0                     60000
13  15  3.47                       2.5                     70000
14  16  3.06                       1.3                     40000
15  17  3.27                       2.0                     60000
16  18  3.53                       4.0                     50000
17  19  4.00                       4.0                     50000
18  20  3.40                       1.0                     30000
19  21  3.54                       1.0                     40000
20  22  3.50                       2.0                     75000
21  23  3.50                       4.0                     50000
22  24  3.40                       3.0                     50000
23  26  3.30                       4.0                     65000
24  27  3.90                       6.0                     90000
25  28  3.17                       1.0                     50000
26  29  3.48                       3.5                     60000
27  30  3.93                       4.0                     43000
28  31  3.43                       4.0                     60000
29  32  3.33                       5.0                      5000
30  33  3.60                       1.5                     60000
31  34  3.80                       3.0                     65000
32  35  3.50                       3.0                     65000
33  36  3.39                       2.0                     60000

    Highest GPA   Lowest GPA Coops/Internships (YN)  \
0           3.50        3.50                      N
1           3.60        3.00                      Y
2           4.00        3.60                      Y
3           3.41        3.33                      N
4           3.67        3.00                      Y
5           3.58        3.52                      N
6           3.70        3.30                      N
7           3.53        3.30                      Y
8           3.90        3.10                      Y
9           3.80        3.00                      N
10          3.50        3.50                      N
11          4.00        3.00                      N
12          3.70        3.30                      y
13          3.64        3.37                      Y
14          3.64        2.67                      Y
15          4.00        3.00                      Y
16          4.00        3.30                      N
17          4.00        4.00                      Y
18          3.60        3.10                      N
19          4.00        3.42                      Y
20          4.00        3.00                      Y
21          3.80        3.20                      Y
22          3.80        3.20                      Y
23          4.00        3.65                      Y
24          4.00        3.80                      Y
25          3.30        3.00                      N
26          4.00        3.33                      Y
27          4.00        3.28                      Y
28          3.50        3.30                      Y
29          3.66        3.00                      Y
30          3.70        3.40                      Y
31          3.80        3.50                      Y
32          4.00        3.60                      Y
33          3.80        3.20                      Y

    Number of contacts on Linkedin  Expected Salary after graduation
0                              250                             90000
1                              400                            100000
2                              500                             90000
3                              365                            100000
4                              400                            100000
5                              230                             85000
6                              250                             90000
7                              260                            100000
8                              250                            110000
9                              525                            105000
10                             400                             85000
11                             920                            140000
12                             300                             90000
13                             310                             95000
14                             550                            120000
15                             350                            100000
16                             600                             88000
17                             500                            130000
18                             500                             80000
19                             650                             95000
20                             515                             80000
21                             350                            110000
22                             301                             90000
23                             700                            100000
24                             809                            120000
25                             258                            100000
26                             350                            100000
27                             900                            100000
28                             220                            110000
29                             183                            100000
30                             340                            100000
31                             800                             80000
32                             400                             80000
33                             500                             90000

In [26]:
# 1) Min, Max, Median, Avg for GPA and YearofWorkExp
print('Min GPA is: ', min(data['GPA']))
print('Max GPA is: ', max(data['GPA']))
print('Median of GPA is: ', data['GPA'].median())
print('Average of GPA is: ', data['GPA'].mean())

print('Min YearofWorkExp is: ', min(data['Years of work experience']))
print('Max YearofWorkExp is: ', max(data['Years of work experience']))
print('Median YearofWorkExp is: ', data['Years of work experience'].median())
print('Average YearofWorkExp is: ', data['Years of work experience'].mean())

Min GPA is:  3.06
Max GPA is:  4.0
Median of GPA is:  3.5
Average of GPA is:  3.5097058823529426
Min YearofWorkExp is:  1.0
Max YearofWorkExp is:  6.0
Median YearofWorkExp is:  2.5
Average YearofWorkExp is:  2.8117647058823527

In [32]:
# 2. Find the mode of the Salary 
getmode = data['Latest salary (per year)'].mode()
print('The mode of current salary is:','\n', getmode)

The mode of current salary is:
 0    60000
dtype: int64

In [79]:
# 3. % of students having Co/op and not having Co/op
coops = data['Coops/Internships (YN)'].str.upper()
with_coop = len(coops[coops == 'Y'])
total_count = len(coops)
print('% of students having Co/op is:', with_coop/total_count * 100)
without_coop = len(coops[coops == 'N'])
print('% of students not having Co/op is:', without_coop/total_count * 100)

% of students having Co/op is: 70.58823529411765
% of students not having Co/op is: 29.411764705882355

In [91]:
# 4. No of students with more than 500 LinkedIn contacts
cont = data['Number of contacts on Linkedin']
print('No of students with more than 500 LinkedIn contacts is:', len(cont[cont > 500]))

No of students with more than 500 LinkedIn contacts is: 10

In [97]:
# 5. Find the Inter Quartile Range for the Expected Salary Range
q75, q25 = np.percentile(data['Expected Salary after graduation'], [75 ,25])
iqr = q75 - q25
print("Inter Quartile range for the Expected Salary Range is: ", iqr)

Inter Quartile range for the Expected Salary Range is:  10000.0